body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
}
.rating {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.rating input {
    display: none;
}
.rating label {
    position: relative;
    width: 0;
    height: 130px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    align-items: center;
    opacity: 0;
}
.rating:hover label {
    width: 160px;
    opacity: 0.2;
}
.rating input:hover + label ,
.rating input:checked + label {
    filter: grayscale(0);
    opacity: 1;
    width: 170px;
}
.rating label h4 {
    color: #fff;
    font-size: 24px;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(1);
    transition: 0.5s;
}
.rating input:hover + label h4,
.rating input:checked + label h4{
    opacity: 1;
    transform: translateY(0) scale(1);
}